<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.ddss.dao.DtplanMapper">
  <resultMap id="BaseResultMap" type="com.sinosoft.ddss.common.entity.Dtplan">
    <id column="dtplan_id" property="dtplanId" />
    <result column="order_main_id" property="orderMainId" />
    <result column="satellite" property="satellite" />
    <result column="orbit_id" property="orbitId" />
    <result column="receive_station" property="receiveStation" />
    <result column="start_time" property="startTime" />
    <result column="stop_time" property="stopTime" />
    <result column="start_date" property="startDate" />
    <result column="stop_date" property="stopDate" />
    <result column="create_time" property="createTime" />
    <result column="dt_plan_count" property="dtPlanCount" />
  </resultMap>
  <!--  联查采集完备，获取产品名称  -->
  <resultMap id="BaseResultMapRep" type="com.sinosoft.ddss.common.entity.Dtplan">
    <id column="dtplan_id" property="dtplanId" />
    <result column="order_main_id" property="orderMainId" />
    <result column="satellite" property="satellite" />
    <result column="orbit_id" property="orbitId" />
    <result column="receive_station" property="receiveStation" />
    <result column="start_time" property="startTime" />
    <result column="stop_time" property="stopTime" />
    <result column="start_date" property="startDate" />
    <result column="stop_date" property="stopDate" />
    <result column="create_time" property="createTime" />
    <result column="product_names" property="productNames" />
    <result column="dt_plan_count" property="dtPlanCount" />
  </resultMap>
  <sql id="Base_Column_List">
    dtplan_id, order_main_id, satellite, orbit_id, receive_station, 
    to_char(start_time, 'yyyy/MM/dd HH24:mi:ss') start_time, 
    to_char(stop_time, 'yyyy/MM/dd HH24:mi:ss') stop_time, 
    to_char(start_date, 'yyyy/MM/dd HH24:mi:ss') start_date, 
    to_char(stop_date, 'yyyy/MM/dd HH24:mi:ss') stop_date, 
    to_char(create_time, 'yyyy/MM/dd HH24:mi:ss') create_time,dt_plan_count
  </sql>
  <sql id="Base_Column_List_Rep">
    <!--  联查采集完备，获取产品名称  -->
    dtplan_id, order_main_id, satellite, orbit_id, receive_station, 
    to_char(start_time, 'yyyy/MM/dd HH24:mi:ss') start_time, 
    to_char(stop_time, 'yyyy/MM/dd HH24:mi:ss') stop_time, 
    to_char(start_date, 'yyyy/MM/dd HH24:mi:ss') start_date, 
    to_char(stop_date, 'yyyy/MM/dd HH24:mi:ss') stop_date, 
    to_char(create_time, 'yyyy/MM/dd HH24:mi:ss') create_time, product_names,dt_plan_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ddss_dtplan
    where dtplan_id = #{dtplanId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from ddss_dtplan
    where dtplan_id = #{dtplanId}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.ddss.common.entity.Dtplan">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into ddss_dtplan (dtplan_id, order_main_id, satellite, 
      orbit_id, receive_station, start_time, 
      stop_time, start_date, stop_date, 
      create_time)
    values (#{dtplanId}, #{orderMainId}, #{satellite}, 
      #{orbitId}, #{receiveStation}, #{startTime}, 
      #{stopTime}, #{startDate}, #{stopDate}, 
      #{createTime})
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.ddss.common.entity.Dtplan">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into ddss_dtplan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dtplanId != null">
        dtplan_id,
      </if>
      <if test="orderMainId != null">
        order_main_id,
      </if>
      <if test="satellite != null">
        satellite,
      </if>
      <if test="orbitId != null">
        orbit_id,
      </if>
      <if test="receiveStation != null">
        receive_station,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="stopTime != null">
        stop_time,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="stopDate != null">
        stop_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dtplanId != null">
        #{dtplanId},
      </if>
      <if test="orderMainId != null">
        #{orderMainId},
      </if>
      <if test="satellite != null">
        #{satellite},
      </if>
      <if test="orbitId != null">
        #{orbitId},
      </if>
      <if test="receiveStation != null">
        #{receiveStation},
      </if>
      <if test="startTime != null">
        #{startTime},
      </if>
      <if test="stopTime != null">
        #{stopTime},
      </if>
      <if test="startDate != null">
        #{startDate},
      </if>
      <if test="stopDate != null">
        #{stopDate},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.ddss.common.entity.Dtplan">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update ddss_dtplan
    <set>
      <if test="orderMainId != null">
        order_main_id = #{orderMainId},
      </if>
      <if test="satellite != null">
        satellite = #{satellite},
      </if>
      <if test="orbitId != null">
        orbit_id = #{orbitId},
      </if>
      <if test="receiveStation != null">
        receive_station = #{receiveStation},
      </if>
      <if test="startTime != null">
        start_time = #{startTime},
      </if>
      <if test="stopTime != null">
        stop_time = #{stopTime},
      </if>
      <if test="startDate != null">
        start_date = #{startDate},
      </if>
      <if test="stopDate != null">
        stop_date = #{stopDate},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
    </set>
    where dtplan_id = #{dtplanId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.ddss.common.entity.Dtplan">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update ddss_dtplan
    set order_main_id = #{orderMainId},
      satellite = #{satellite},
      orbit_id = #{orbitId},
      receive_station = #{receiveStation},
      start_time = #{startTime},
      stop_time = #{stopTime},
      start_date = #{startDate},
      stop_date = #{stopDate},
      create_time = #{createTime}
    where dtplan_id = #{dtplanId}
  </update>
  
  <select id="getDtplanByOrderMainId" resultMap="BaseResultMapRep" parameterType="java.lang.Long">
  	SELECT
		d.dtplan_id,
		d.order_main_id,
		d.satellite,
		d.orbit_id,
		d.receive_station,
		d.start_time,
		d.stop_time,
		d.start_date,
		d.stop_date,
		d.create_time,
		d.dt_plan_count,
		C .product_names AS product_names
	FROM
		ddss_dtplan d
	LEFT JOIN ddss_collection_report C ON d.dtplan_id = C .dtplan_id
	WHERE
		d.order_main_id = #{_paramter}
	ORDER BY d.dt_plan_count
  </select>
</mapper>